<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">A journey of continuous learning and innovation.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2004-2007</h4>
                                <h4 class="subheading">Education in Informatics and Computer Science</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Studied Informatics and Computer Science with a focus on robotic automation at IAL Friuli Venezia Giulia, Italy. Specialized in electronic diagnostics.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2007-2012</h4>
                                <h4 class="subheading">Game Development and 3D Modeling</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Engaged in game development, scripting, and 3D modeling using Cinema 4D and AutoCAD in Bologna, Italy.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012-2017</h4>
                                <h4 class="subheading">Diverse Projects</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Worked on various projects, including web applications and games, demonstrating a strong passion for creating and designing.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017-2023</h4>
                                <h4 class="subheading">Full-Stack Development</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Continued to innovate and learn, exploring new technologies and expanding expertise in full-stack development.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of My
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>